<div class="submissions_modal_header">
  Submissions
</div>
<div class="submissions_modal_body">
  <table class="submission_table">
    <thead class="submission_table_header">
      <tr>
        <th>Time</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody class="submission_table_body">
      <tr *ngFor="let submission of submissions; index as i">
        <td>
          <app-relative-time [time]="submission.timestamp"></app-relative-time>
          <br />
          <a href="#" (click)="openDetail(submission)">
            details
          </a>
        </td>
        <td>
          {{ score }} / {{ max_score }}
        </td>
      </tr>
      <tr>
        <td colSpan="2">
          <a href="#" (click)="loadMore()">Load more...</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>