<div className="submissions_modal_header">
  Submissions
</div>
<div className="submissions_modal_body">
  <table className="submission_table">
    <thead className="submission_table_header">
      <tr>
        <th>Time</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody className="submission_table_body">
      <tr *ngFor="let submission of taskParticipation.submissions">
        <td>
          <app-relative-time [time]="submission.timestamp"></app-relative-time>
          <br />
          <a href="#" onClick="">
            details
          </a>
        </td>
        <td>
          {{ score }} / {{ max_score }}
        </td>
      </tr>
      <tr>
        <td colSpan="2">
          <a href="#" onClick="">Load more...</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>